
 <style type="text/css">



body{
        font:84% Tahoma, Verdana, Arial, Helvetica, sans-serif;
        direction:ltr;
        line-height:2em;
        margin:0;
        color:#666;
}</style>Hello &lt;%first_name%&gt;:<br />Account Name: &lt;%accountname%&gt;<br />RE:&nbsp; WorldSmart 30-day Trial Expires in &lt;%noofdaystoexpire%&gt; Days<br /><br />You are nearing the end of your 30-Day FREE Trial of WorldSmart.&nbsp; We hope you enjoyed the ability to try WorldSmart. If you are interested in keeping any of these features permanently, please contact your PanTerra Account Representative or support@worldsmartcentral.com so that you may continue to utilize all of the features without interruption.<br /><br />We appreciate your business and look forward to continuing to provide you with FutureProof communications.<br /><br />Thank you,<strong><br /><br />WorldSmart Customer Support<br />support@worldsmartcentral.com<br />(800) 805-0558</strong> |            1 | no-reply@streams.us |
